<?xml version="1.0"?>
<config>
    <modules>
        <Lokey_PerItemShipping>
            <version>4.0.0</version>
        </Lokey_PerItemShipping>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Lokey_PerItemShipping>
                    <files>
                        <default>Lokey_PerItemShipping.csv</default>
                    </files>
                </Lokey_PerItemShipping>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <Lokey_PerItemShipping>
                <setup>
                    <module>Lokey_PerItemShipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Lokey_PerItemShipping>
        </resources>
        <models>
            <Lokey_PerItemShipping>
                <class>Lokey_PerItemShipping_Model</class>
            </Lokey_PerItemShipping>
        </models>
        <helpers>
            <Lokey_PerItemShipping>
                <class>Lokey_PerItemShipping_Helper</class>
            </Lokey_PerItemShipping>
        </helpers>
    </global>
    <frontend>
        <events>
            <lokey_shippingadjustments_raterequest_filter>
                <observers>
                    <Lokey_PerItemShipping>
                        <type>singleton</type>
                        <class>Lokey_PerItemShipping/Observer</class>
                        <method>filterRateRequest</method>
                    </Lokey_PerItemShipping>
                </observers>
            </lokey_shippingadjustments_raterequest_filter>
            <lokey_shippingadjustments_adjustment_calculate>
                <observers>
                    <Lokey_PerItemShipping>
                        <type>singleton</type>
                        <class>Lokey_PerItemShipping/Observer</class>
                        <method>calculateAdjustment</method>
                    </Lokey_PerItemShipping>
                </observers>
            </lokey_shippingadjustments_adjustment_calculate>
        </events>
    </frontend>
    <default>
        <shipping>
            <lokey_shippingadjustments>
                <default_pisa_amount>0.00</default_pisa_amount>
            </lokey_shippingadjustments>
        </shipping>
    </default>
</config>
